#informeTable{
	margin: auto;
}

.IFPP-MainContainer .IFPP-PageTitleDiv {
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
	gap: 0.15em !important;
}

.IFPP-MainContainer .IFPP-PageTitle {
	font-weight: 400;
}

.IFPP-MainContainer .IFPP-IdiviceIconPass,
.IFPP-MainContainer .IFPP-IdiviceIconFail,
.IFPP-MainContainer .IFPP-IdiviceIcon,
.IFPP-MainContainer .IFPP-IdiviceIconNo,
.IFPP-MainContainer .IFPP-PageIcon {
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.IFPP-MainContainer .IFPP-ComponentScore {
	text-align: right;
	min-width: 1em;
}


.IFPP-MainContainer .IFPP-IdiviceIcon {
	background-image: url(ifnstate-0.png);

}

.IFPP-MainContainer .IFPP-IdiviceIconNo {
	background-image: url(ifnstate-na.png);
}

.IFPP-MainContainer .IFPP-PageIcon {
	background-image: url(ifnpage.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.IFPP-MainContainer .IFPP-IdiviceIconPass {
	background-image: url(ifnstate-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.IFPP-MainContainer .IFPP-IdiviceIconFail {
	background-image: url(ifnstate-1.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}


.IFPP-MainContainer .IFPP-ComponentItem {
	margin: 8px 0 8px 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
}


.IFPP-MainContainer  .IFPP-ComponentItem.even {
    background-color: #f9f9f9;
}


.IFPP-MainContainer  .IFPP-ComponentItem.odd {
    background-color: #e9e9e9;
}

.IFPP-MainContainer .IFPP-PageItem{
	list-style-type: none;
}

.IFPP-MainContainer .IFPP-ComponentItem * {
	color: #555;
}

.IFPP-MainContainer a,
.IFPP-MainContainer a:visited,
.IFPP-MainContainer a:focus {
	border: 0;
	border-bottom: none;
	border-width: 0;
	text-decoration: none !important;
}

.IFPP-MainContainer .IFPP-IdeviceLink:hover
.IFPP-MainContainer .IFPP-IdeviceLink:hover, 
.IFPP-MainContainer .IFPP-IdeviceLink:active{
	text-decoration: none !important;
}

.IFPP-MainContainer {
	font-size: 1rem;
	margin: 1em auto;
	padding: 0;
	width: 100%;
}

.IFPP-MainContainer .IFPP-Message {
	width: 100%;
}

.IFPP-MainContainer * {
	box-sizing: border-box;
}

.IFPP-MainContainer p {
	margin: 0;

	padding: 0;
}

.IFPP-MainContainer ul,
.IFPP-MainContainer li {
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.IFPP-MainContainer .IFPP-GameContainer {
	width: 100%;
}

.IFPP-MainContainer .IFPP-ComponentData {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.15em
}

.IFPP-MainContainer .IFPP-Table {
	width: 100%;
	max-width: 900px;
	border: 1px solid #cccccc;
	border-radius: 0.1em;
	padding: 1.5em;
	background-color: #f9f9f9;
}

.IFPP-MainContainer .IFPP-Title {
	width: 100%;
	margin-bottom: 1em;
	background-color: #142a48d2;
	text-align: center;
	padding: 0.5em;
	font-size: 1.2em;
	color: white;
}

.IFPP-MainContainer .IFPP-Header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	font-size: 1em;
}

.IFPP-MainContainer .IFPP-PagesContainer {
	width: 100%;
	box-sizing: border-box;
}

.IFPP-MainContainer .IFPP-Plus {
	padding-top: 0.4em;
	border-top: 2px solid #aaaaaa;
	margin-top: 0.8em;
}

.IFPP-MainContainer .IFPP-ComponentDateScore {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.3em;
}

.IFPP-MainContainer .IFPP-ActivityScore {
	font-size: 1em;
	margin-top: 0;
}

.IFPP-MainContainer .IFPP-GameScore {
	background-color: #025540;
	min-width: 280px;
	padding: 0.6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1em;
	color: white;
	margin-top: 1em;
}

.IFPP-MainContainer .IFPP-LinksInforme {
	background-color: transparent;
	min-width: 280px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1em;
	color: white;
	margin-top: 1em;
}


.IFPP-MainContainer .IFPP-LinksInforme .btn { margin-left: 0.3em; }

#informeName {
	margin-left: 0.3em;
}

.IFPP-MainContainer .IFPP-UserData {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	gap: 1em;
	min-width: 350px;
	font-size: 1em;
}

.IFPP-MainContainer .IFPP-UserData>div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.15em;
	flex-wrap: wrap;
}

.IFPP-MainContainer .IFPP-UserName {
	flex-grow: 1;
	width: 50%;
}

.IFPP-MainContainer .IFPP-UserDate {
	flex-grow: 0;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.IFPP-MainContainer .IFPP-UserDate label {
	display: block;
}

.IFPP-MainContainer .IFPP-UserDate input {
	flex-grow: 0;
	min-width: 40px;
	max-width: 170px;
	border: none;
	border-bottom: 1px dotted #333;
}

.IFPP-MainContainer .IFPP-UserName input {
	flex-grow: 1;
	min-width: 150px;
	border: none;
	border-bottom: 1px dotted #333;
}