.CTJP-MainContainer a,
.CTJP-MainContainer a:visited,
.CTJP-MainContainer a:focus {
    border: 0;
    border-bottom: none;
    border-width: 0;
    text-decoration: none !important;
}

/* Contenedor */

.CTJP-MainContainer {
    margin: 1em auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTJP-Message {
    width: 100%;
}

.CTJP-MainContainer * {
    box-sizing: border-box;
}

.CTJP-MainContainer p {
    margin: 0 !important;
    padding: 0 !important;
}

.CTJP-GameContainer {
    width: 100%;
    max-width: 1000px;
}

.CTJP-List {
    margin-top: 2em;
    width: 100%;
    background-color: #fff;
    border-radius: 0.3em;
    padding: 1.4em 1em 2em 1em;
    border: 1px solid #ccc;

}

.CTJP-List * {
    background-color: #fff !important;
}

.CTJP-Capture {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0 2em 0;
    width: 100%;
}


.CTJP-Capture .btn {
    margin-left: 0.5rem !important;
}

.CTJP-Capture .btn:first-child {
    margin-left: 0 !important;
}

.CTJP-Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 1.3em;
    margin-bottom: 2em;
}

.CTJP-Footer {
    width: 100%;
    text-align: center;
    margin-top: 3em;
    color: #071717;
}

.CTJP-Images {
    position: relative;
    width: 200px;
    height: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.CTJP-ImgDecorative {
    position: relative;
    width: 250px;
    height: 250px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 1em;
    right: 1em
}


.CTJP-Title {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    color: #4A86E8;
    margin-bottom: .3em;
}

.CTJP-SubTitle {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #071717;

}

.CTJP-Line {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    color: #071717;

}

.CTJP-Data {
    padding-top: 2em;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.CTJP-Icon {
    width: 250px;
    position: absolute;
    top: 2em;
    right: 1em;

}

.CTJP-Counters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px
}

.CTJP-Items {
    width: 100%;
    margin-bottom: .8em;
    text-align: left;
}

.CTJP-Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 0.6em;
    font-size: 1em;
}

.CTJP-Points {
    margin-left: 5px;
    font-weight: 600;
    color: #01343f
}

.CTJP-Item * {
    font-size: 1em !important;
}

.CTJP-Item select {
    margin-right: 0.15em;
    cursor: pointer;
}

.CTJP-Item input[type=checkbox] {
    cursor: pointer;
    margin-right: 3px !important;
}

.CTJP-Item input[type=text] {
    margin-left: 0.15em;
    cursor: pointer;

}

.CTJP-UserData {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em 0;
    gap: 1em;
    min-width: 350px;
}

.CTJP-UserData>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.15em;
    flex-wrap: wrap;
}

.CTJP-UserName {
    flex-grow: 1;
    width: 50%;
}

.CTJP-UserDate {
    flex-grow: 0;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.CTJP-UserDate label {
    display: block;
}

.CTJP-UserDate input {
    flex-grow: 1;
    min-width: 150px;
    border: none;
    border-bottom: 1px dotted #333;
}

@media screen and (max-width: 1000px) {
    .CTJP-ImgDecorative {
        display: none;
    }
}


.CTJP-MainContainer .toggle-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    gap: .1rem;
}

.CTJP-MainContainer .toggle-item+.toggle-item {
    border-top: 1px solid rgba(0, 0, 0, .04);
}

.CTJP-MainContainer .toggle-label {
    cursor: pointer;
    margin-right: 3px;
    margin-top: 0;
}

.CTJP-MainContainer .toggle-control {
    position: relative;
    display: inline-flex;
    align-items: center;
    /* Tamaño explícito del switch para asegurar el área clicable */
    width: 36px;
    height: 20px;
}

.CTJP-MainContainer .toggle-input {
    position: absolute;
    opacity: 0;
    /* Usar top/left/right/bottom para compatibilidad amplia en vez de inset */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.CTJP-MainContainer .toggle-visual {
    display: inline-block;
    width: 36px;
    height: 20px;
    border-radius: 999px;
    background: var(--gray-400, #ccc);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .06);
    transition: background 160ms ease, box-shadow 160ms ease;
    position: relative;
    cursor: pointer;
    pointer-events: none;
}

.CTJP-MainContainer .toggle-visual::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    transition: transform 160ms ease;
}

.CTJP-MainContainer .toggle-input:checked+.toggle-visual {
    background: var(--bs-blue, #0d6efd) !important;
}

.CTJP-MainContainer .toggle-input:checked+.toggle-visual::after {
    transform: translateX(16px);
}

.CTJP-MainContainer .toggle-input:disabled+.toggle-visual {
    opacity: .5;
    filter: grayscale(.3);
    cursor: not-allowed;
}


.CTJP-List .toggle-visual {
    background: var(--gray-400, #ccc) !important;
}
.CTJP-List .toggle-input:checked + .toggle-visual {
    background: var(--bs-blue, #0d6efd) !important;
}

.CTJP-MainContainer .toggle-related label>input[type=number] {
    display: inline-block;
    width: 60px;
    margin: 0 4px;
    vertical-align: middle;
}